*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

button {
  border: none;
}
