@use 'colors';

%input-box {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  > .input {
    background-color: colors.$black;
    border: 0.1rem solid rgba(colors.$white, 0.8);
    border-radius: 0.4rem;
    padding: 1rem;
    color: colors.$white;

    &[type='date']::-webkit-calendar-picker-indicator {
      background-color: colors.$white;
    }
  }
}
